@CHARSET "UTF-8";
    #grid
    {
        height: 570px;
        width: 100%;
    }
    button
    {
        background-color: #E4F2FF;
        background-image: url("http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dijit/themes/claro/form/images/button.png");
        background-position: center top;
        background-repeat: repeat-x;
        border: 1px solid #769DC0;
        border-radius: 4px 4px 4px 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        font-size: 1em;
        padding: 2px 8px 4px;
    }
    button:hover
    {
        background-color: #AFD9FF;
        color: #000000;
    }
    
    .dojoxGridRowTable tr {
        background: none !important;
    }
    
 	.claro table tr:nth-child(0n+3) td:nth-child(1n+2).dojoxGridCell 
 	{
		padding : 0px !important;
		border : 0px !important;
 	} 	

 	.claro .dojoxGridInvisible .dojoxGridCell 
 	{
		outline: none;
		padding : 0px !important;
		border : 0px !important;
		word-wrap: break-word;
		border-color: transparent #E5DAC8 #E5DAC8 transparent;
	}
